{% extends "base.html" %}
{% block content %}
<div class="row text-center">
    <h1>3rd year Computer Science project - Steganography</h1>
    <br>
    <p>This showcase site is used as a portal for the demonstration. The proposed project is a steganography tool, principle explained on the dedicated page.
        <br>It is divided into two blocks: : <i>hide</i> and <i>unhide</i>.
        <br><i>Hide</i> is a form where we can enter the text to be hidden and the image used as a receptacle for the message.
        <br><i>Unhide</i> is a form where only an image can be loaded to discover (if it exists), a message to display.
    </p>
</div>
{% endblock %}